
.todo-list-item:nth-child(odd) { 
    background:rgb(247, 240, 240); 
}

.sidebar {
    height: 100%;
    width: 32%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow:hidden;
    padding-top: 20px;
  } 

.sidebar-form{
     z-index: 999;
     top:0;
 } 

.sidebar-form-list,.sidebar-form-color {
    z-index: 999;
    color:white;
}
.todo-list-item{
    background-color: inherit;
    margin-top:5px;
    border-radius: 10px;
    color:black;
}

.bucket-form-input{
    box-sizing: border-box;
}

.list-horizontal-display > div {
    display: inline-block;
}

.list-group-item.active,.list-group-item {
    background-color: black !important;
    border-color: black !important;
}

.list-group-item.active,.list-group-item:hover{
    color:pink !important;
    text-decoration:underline;
 
}

.list-group-item{
    color:white;
}

.chip{
    text-decoration: none !important;
    margin-left: 2px;
}

@media only screen and (max-width: 1026px) {
    .sidebar {
        display: none;
    }
}




  